.head {
  color: white;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");

}
div {
  display: block;
}
.btn-nav {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
body{
  font-family: Helvetica,sans-serif;
  margin: 10px;
  display: block;
}
.head1 {
  font-size: 70px;
  text-shadow: 2px 5px black;

}
.head2 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.supporting {
  text-align: center;
}
.supporting h2 {
  font-size: 32px;
}
.supporting h3 {
  font-size: 23px;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.supporting-item{
  font-size: 18px;

}
h1,h2,h3 {
  font-weight: bold;
}
p{
  display: block;

}
.footer {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
